// leave all process commented out to run in local mode

// there are two labels 'longtime' and 'shorttime'

//uncomment for sge cluster
//process {
//  withLabel: longtime {
//    executor='sge'
//    //queue='long'
//    clusterOptions = '-S /bin/bash -cwd -l h_rt=72:00:00,h_vmem=6G'
//  }
//  withLabel: shorttime {
//    executor='sge'
//    //queue='short'
//    clusterOptions = '-S /bin/bash -cwd -l h_rt=01:00:00,h_vmem=6G'
//  }
//}


//uncomment for lsf cluster
//process {
//  withLabel: longtime {
//    executor='lsf'
//    //queue='long'
//    clusterOptions = '-S /bin/bash -cwd -l h_rt=72:00:00,mem_free=6G'
//  }
//  withLabel: shorttime {
//    executor='lsf'
//    //queue='short'
//    clusterOptions = '-S /bin/bash -cwd -l h_rt=01:00:00,mem_free=6G'
//  }
//}

//uncomment for SLURM cluster
//process {
//  withLabel: longtime {
//    executor='slurm'
//    //queue='long'
//    clusterOptions = '-t 3-00:00:0 --mem=6G'
//  }
//  withLabel: shorttime {
//    executor='slurm'
//    //queue='short'
//    clusterOptions = '-t 00-01:00:0 --mem=6G'
//  }
//}
